header{position: fixed;top: 0;left: 0;width: 100%;z-index: 999;background: #fff;}
.head{display: flex;align-items: center;justify-content: space-between;background: #fff;border-radius: 10px;padding: 0 15px;position: relative;}
.head .logo img{width: 100px;}
.head ul{display: flex;}
.head ul li{margin-left: 0;}
.head ul li a{color: #000;padding: 25px 20px;display: block;position: relative;}
.head ul li a span{position: relative;z-index: 9;}
.head ul li:hover>a{color: #fff;}
.head ul li a:before{position: absolute;top: 0;width: 100%;height: 0;background: #7C3AED;content: "";left: 0;z-index: 1;transition: all 0.2s linear;}
.head ul li:hover>a:before{height: 100%;}
.head ul li .subMenu{
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 0;
    background: #fff;
    border-top: 2px solid #053f71c4;
    padding: 30px 15px;
    transition: all 0.2s linear;
    z-index: -1;
}
.head ul li:hover .subMenu{
    height: auto;
    top: 74px;
    display: flex;
     flex-wrap: wrap;
    z-index: -1;
}
.head ul li .subMenu:before{
    position: absolute;
    content: "";
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
}
.head ul li .subMenu:after{
    position: absolute;
    content: "";
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
}
.head ul li .subMenu li{width: 33%;margin: 0 0 15px 0;}
.head ul li .subMenu li a{padding: 5px 15px;font-weight: 500;border-left: 2px solid #7C3AED;}
.head ul li .subMenu li a:hover{color: #000;}
.head ul li .subMenu li a:hover::before{content: none;}

/* footer */
footer{padding: 30px 0 0;}
.info{position: relative;padding-right: 50px;}
.info img{width: 150px;}
.info p{margin: 30px 0 0 0;}
.footerLink ul{display: flex;border-bottom: 1px solid #c4c4c4;padding-bottom: 25px;margin-bottom: 30px;justify-content: space-between;}
.footerLink ul li{margin-right: 50px;}
.footerLink ul li a{font-size: 18px;color: #000;}
.footerLink ul li a:hover{color: #7C3AED;}
.footerLink{display: flex;flex-direction: column;justify-content: center;}
.address{display: flex;justify-content: space-between;flex-wrap: wrap;}
.address p{color: #000;display: flex;width: 30%;position: relative;padding-left: 30px;}
.address p:last-child{width: 40%;}
.address p a{color: #000;}
.address .icon{margin-right: 10px;color: #7C3AED;position: absolute;top: 4px;left: 0;font-size: 18px;}
.copyRight{position: relative;padding: 15px;background: #7C3AED;text-align: center;margin-top: 30px;}
.copyRight p{margin: 0;color: #fff;}