.imgResponsive{width: auto;max-width: 100%;}

.commonPading{padding: 80px 0;}

.title{font-size: 50px;font-family: 'Rubik Bold';}
/* .title span{font-family: 'Rubik Regular';display: block;} */
.buttonFlex{display: flex;justify-content: center;margin-top: 30px;}
.primeryBg{background: #7C3AED;}

.btnStyle{background: #7C3AED;color: #fff;padding: 20px 30px;position: relative;z-index: 1;border: none;overflow: hidden;}
.btnStyle .icon{margin-left: 10px;}
.btnStyle::after, .btnStyle::before {content: "";background-color: #f99c10;width: 0;height: 50%;position: absolute;z-index: -1;}
.btnStyle::after{bottom: 0;right: 0;-webkit-transition: .3s cubic-bezier(.785, .135, .15, .86);transition: .3s cubic-bezier(.785, .135, .15, .86);}
.btnStyle::before {top: 0;left: 0;-webkit-transition: .3s cubic-bezier(.785, .135, .15, .86);transition: .3s cubic-bezier(.785, .135, .15, .86);}
.btnStyle:hover::after, .btnStyle:hover::before {width: 100%;}

.heroBanner{position: relative;height: 700px;overflow: hidden;margin-top: 74px;}
.heroBanner img{width: 100%;height: 100%;object-fit: cover;}
.heroBanner:after{position: absolute;content: "";top: 0;left: 0;width: 100%;height: 100%;background: #000000b6;}
.heroBanner .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding: 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9;
}
.heroBanner .content .detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heroBanner .content h6{
    background: #eff2f347;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Rubik Medium';
    color: #fff;
}
.heroBanner .content h1{
    font-family: 'Rubik Light';
    color: #fff;
    font-size: 30px;
    line-height: 80px;
    margin: 0 0 30px;
    padding: 0 50px;
}
.heroBanner .content h1 span.highLight{display: block;text-transform: uppercase;font-size: 74px;font-family: 'Rubik Bold';
    background: linear-gradient(90deg, #f8ad3c, #f99c10);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

    .heroBanner .content ul{width: 600px;max-width: 100%;margin: 30px auto 0;}    
.heroBanner .content ul li{color: #fff;font-size: 18px;display: inline-block;margin: 0 10px 10px;font-family: 'Rubik Light';}    
.heroBanner .content ul li .icon{margin-right: 5px;}
.heroBanner .content h1 span.highLight span{display: block;}
.heroBanner .content p{color: #fff;}
.heroBanner .content p span{display: block;}
.queryForm{padding: 10px 30px;background: #fff;border-radius: 40px;display: flex;justify-content: space-around;margin-top: 50px;}
.queryForm .group{display: flex;align-items: center;position: relative;}
.queryForm .group input{max-width: 240px;margin: 0 10px 0 10px;font-size: 16px;border: none;padding: 10px 0;}
.queryForm .group input:focus{outline: none;}
.queryForm button{border: none;background: #7C3AED;color: #fff;font-family: 'Rubik Medium';font-size: 16px;padding: 15px 30px;border-radius: 30px;}
.heroBanner .btnStyle{display: block;}
.heroBanner form{display: none;}
/* About */
.aboutSec{position: relative;}
.aboutSec figure{
    height: 100%;
    display: flex;
    align-items: center;
}
.aboutSec figure img{width: 100%;}
.aboutContent{
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    align-items: flex-start;
}
.aboutContent h6{
    /* background-image: linear-gradient(to right, #1d415b, #d30000, #000000);
    color: transparent;
    background-clip: text; */
    color: #7C3AED;
    font-family: 'Rubik Light';
    font-size: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
p strong{font-weight: normal;}
.aboutContent ul, .aboutContent ol{
    margin: 0 0 15px 0;
}
.aboutContent ul li, .aboutContent ol li{
        line-height: 30px;
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-left: 20px;position: relative;
}
.aboutContent ol li::before {
  content: "✔";                 /* or "\2713" */
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  color: #7C3AED;          
  transform: translateY(2px);  
}
.aboutContent ul li{padding: 0 0 0 25px;position: relative;}
.aboutContent ul li .icon, .aboutContent ol li .icon{color: #7C3AED;
    position: absolute;
    top: 9px;
    left: 0;
    margin-right: 10px;}
.aboutContent br{display: none;}
/* Services */
.servicesSec{
    position: relative;
    background: #F8FAFC;

}
.servicesSec .subContent{display: none;}
.servicesBox{
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background: #fff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
    margin-top: 30px;
}
.servicesBox figure{
    height: 200px;
}
.servicesBox figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.servicesBox .content{
    padding: 35px 20px 20px;
    color: #000;
    position: relative;
}
.servicesBox .content .spanICon{
    width: 50px;
    height: 50px;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7C3AED;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: -25px;
    left: 20px;
}
.servicesBox .content h3{
    font-size: 22px;
    margin: 10px 0 10px;
}
.servicesBox .content p{
    margin: 0 0 10px 0;
    font-family: 'Rubik Regular';
        overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.servicesBox .content p strong{    font-family: 'Rubik Regular';}
.servicesBox .content p span{background: transparent!important;}
.servicesBox .content a{
    color: #000;
}
.servicesBox .content a:hover{
    color: #7C3AED;
}
.whyUs .aboutContent ul li{padding: 0;}
.whyUs .aboutContent ul li .icon{position: relative;}
/* Portfolio */
.projectBox{
position: relative;
    margin-top: 30px;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    padding: 15px;
}
.projectBox a{display: block;background: url('../../assets/images/safari.png') no-repeat;background-size: contain;padding-top: 35px;}
.projectBox .projectImg{
    min-height: 385px;
    width: 100%;
    position: relative;
    margin: 0 0 20px;
    
}
.projectBox .projectImg .scrollAnime{
        background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 100%;
    min-height: 285px;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
    border-radius: 0px 0px 5px 5px;
    transition: all 3s ease-out 0s;
    -webkit-transition: all 3s ease-out 0s;
    background-size: cover;
    height: 100%;
}
.projectBox:hover .projectImg .scrollAnime{
    background-position: center 100%;
}
.projectBox p{
    color: #5e5757;
    margin: 0;
}
.projectBox h5{color: #000;margin: 10px 0;font-family: 'Rubik Medium';}
.contactPage{overflow: hidden;}
/* Contact Section */
.contactSec .contactFomr{
    width: 850px;
    max-width: 100%;
    margin: 0 auto;
    color: #fff;
}
.contactSec .contactImg{display: none;}
.fomrStyle{position: relative;margin-top: 30px;}
.inputFlex{
    display: flex;
    margin: 0 -15px;
}
.inputFlex .group{flex: 1;padding: 0 15px;margin-bottom: 30px;display: flex;flex-direction: column;position: relative;}
.inputFlex .group p{margin: 0;position: absolute;bottom: -22px;font-size: 12px;}
.inputFlex .group input, .inputFlex .group textarea{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    padding: 10px 0;
    color: #fff;
}
.inputFlex .group input:focus,  .inputFlex .group textarea:focus{
    outline: none;
}
.inputFlex .group input::placeholder{
    color: #fff;
}
.fomrStyle button{
    border: none;
    background: #fff;
    color: #000;
    margin: 0;
    padding: 15px 40px;
    
}
.fomrStyle button:hover{color: #fff;}

/* innerBanner */
.innerBanner{position: relative;background: url(../../assets/images/innerBanner_bg.webp) no-repeat center center;padding: 0 0 0 0;height:400px;margin-top: 74px;background-size: cover;}
.innerBanner img{width: 100%;height: 100%;object-fit: cover;}
.aboutPage .aboutContent a{display: none;}
.weBuild{position: relative;background: #f7f7f7;}
.weBuild h2{text-align: center;margin: 0 0 40px;}
.weBuild .box{background: #fff;padding: 20px;margin-bottom: 20px;position: relative;color: #000;transition: all 0.2s linear;}
.weBuild .col-md-4{display: flex;}
.weBuild .box:before{position: absolute;bottom: 0;left: 0;width: 100%;height: 0px;content: "";z-index: 1;transition: all 0.2s linear;}
.weBuild .box:hover{color: #fff;}
.weBuild .box:hover:before{height: 100%;background: #7C3AED;}
.weBuild .box *{position: relative;z-index: 1;}
.weBuild .box ul{margin-left: 15px;}
.weBuild .box ul li{list-style-type: disc;font-size: 14px;}
.weBuild .box .icon{font-size: 35px;color: #7C3AED;}
.weBuild .box:hover .icon, .weBuild .box:hover p span{color: #fff!important;}
.weBuild .box h3{font-size: 20px;margin: 10px 0 15px 0;}
.weBuild .box p span{background: transparent!important;color: #000!important;}
.whyUs figure{height: 100%;background: #7C3AED;;}
.whyUs .aboutContent{padding: 40px 0 30px 40px;height: 100%;display: flex;justify-content: center;}
.whyUs ul li{flex-direction: column;margin-bottom: 25px;}
.whyUs ul li h4{font-family: 'Rubik Medium';display: flex;align-items: center;margin: 0;font-size: 20px;color: #000;}
.whyUs h2{margin-bottom: 40px;}
.whyUs ul li h4 .icon{top: 0;color: #000;}
.whyUs ul li p{padding-left: 30px;margin: 0;}
.whyUs ul li:last-child{margin: 0;}
.visionSec{position: relative;background: #e8e8e8;padding: 60px 0;}
.visionSec .visionElem{display: flex;flex-direction: column;align-items: center;justify-content: center;text-align: center;}
.visionSec .visionElem p{text-align: center;}
.visionSec h4{color: #000;font-size: 24px;}


.formPop{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: #000000a1;z-index: 9999;display: flex;align-items: center;justify-content: center;}
.formElem{width: 800px;background: #fff;max-width: 95%;position: relative;height: 95%;overflow: auto;padding: 30px 15px 20px;}
.formElem .contactFomr{display: flex;flex-wrap: wrap;}
.formElem .contactFomr .contactImg{width: 50%;}
.formElem .contactFomr .contactImg img{width: 100%;height: 100%;object-fit: cover;}
.formElem .contactFomr .detail{width: 50%;margin: 0;}
.formElem .contactFomr .inputFlex{margin: 0;}
.formElem .contactFomr h2{padding-left: 15px;}
.formElem{padding: 15px 0;}
.formElem .contactFomr .inputFlex .group{position: relative;}
.formElem .contactFomr .inputFlex .group p{    position: absolute;
    left: 15px;
    bottom: -23px;
    margin: 0;
    font-size: 12px;}
.formPop .commonPading{padding: 0;}
.formPop h2.title{font-size: 30px;}
.formPop .inputFlex label{color:#4F4C4C;font-family: 'Rubik Light';}
.formPop .inputFlex .group input, .formPop .inputFlex .group textarea{border-color: #dee2e6;color: #4F4C4C;padding: 5px 0;font-family: 'Rubik Regular';}
.formPop .inputFlex{flex-direction: column;}
.formPop .inputFlex .group{margin-bottom: 20px;}
.formPop .closeBtn{position: absolute;top: 0;right: 0;border: none;padding: 0 5px 4px;margin: 0;background: #7C3AED;color: #fff;font-size: 24px;line-height: normal;z-index: 99;}
.formPop .buttonFlex{margin: 10px 0 0;}
.formPop .buttonFlex button{background: #7C3AED;color: #fff;}

.servicesPage .buttonFlex{display: none;}

.servicesPage .subContent{display: block;}
.servicesDetail .aboutContent h4{font-family: 'Rubik Medium';}

.whoAreSec{position: relative;background: url(../../assets/images/aboutBanner.png) no-repeat center center;background-size: cover;padding: 90px 0;}
.whoAreSec *{position: relative;z-index: 1;color: #fff;}
.whoAreSec:after{position: absolute;top: 0;left: 0;width: 100%;height: 100%;content: "";background: #00000083;}
.whoAreSec .box{width: 1024PX;margin: 0 auto;text-align: center;}
.whoAreSec .box h2{margin: 0 0 30px;}
.whoAreSec .box p span{background: transparent!important;color: #fff!important;}

.contactSec{position: relative;}
.contactSec .leftArea{position: relative;background: #7C3AED;}
.contactSec .leftArea::after{position: absolute;content: '';top: 0;left: 0;width: 100%;height: 100%;left: -100%;background: #7C3AED;}
.areInfo{padding: 100px 40px;}
.areInfo h3{font-size: 40px;}
.areInfo p{color: #000;
    display: flex;
    position: relative;
    padding-left: 30px;}
.areInfo p .icon {
    margin-right: 10px;
    color: #7C3AED;
    position: absolute;
    top: 4px;
    left: 0;
    font-size: 18px;
}    
.areInfo p a{color: #000;}
.ourPlatForm{padding-bottom: 80px;}
.boxContainer{position: relative;}

.boxContainer h4{text-transform: uppercase;font-family: 'Rubik Bold';color: #000;font-size: 40px;margin-top: 50px;}
.boxContainer .boxElem{background: #f0f0f04f;padding: 50px 30px;display: flex;flex-wrap: wrap;color: #000;border-radius: 10px;margin-top: 30px;align-items: center;border-width: 2px 2px 5px 2px;
    border-color: #d8d8d8;
    border-style: solid;position: relative;}
.boxContainer:nth-child(even) .boxElem{position: relative;}
.boxContainer:nth-child(even) .boxElem .leftArea{order: 2;padding-right: 0;padding-left: 50px;}    
.boxContainer:nth-child(even) .boxElem .rightArea{order: 1;}    
.boxContainer .boxElem .leftArea{width: 50%;padding-right: 50px;    display: flex;flex-direction: column;justify-content: center;}
.boxContainer .boxElem .rightArea{width: 50%;display: flex;flex-wrap: wrap;    justify-content: center;}
.boxContainer .boxElem .techLogo{width: 25%;text-align: center;margin-bottom: 20px;padding: 10px 0;border-radius: 10px;border: 1px solid transparent;cursor: pointer;    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
.boxContainer .boxElem .techLogo h6{font-size: 16px;margin: 10px 0 0;}
.boxContainer h5{font-size: 26px;font-family: 'Rubik Bold';margin: 0 0 20px;}
.PortfolioPage .buttonFlex{display: none;}
.boxContainer .boxElem .techLogo:hover{background: #fff;border-color: #7C3AED;}

.servicesDetail .innerBanner{height: 350px;}
.innerBanner .content{height: 100%;display: flex;justify-content: center;flex-direction: column;max-width: 100%;}
.servicesDetail .innerBanner div{height: 100%;}
.servicesDetail .innerBanner h1{color: #fff;
    font-size: 70px;
    font-family: 'Rubik Light';
    margin-bottom: 20px;}
.servicesDetail .innerBanner p{font-size: 16px;color: #fff;width: 600px;max-width: 100%;}
.buildStyle .box h3{margin-right: 0;}
.buildStyle .box ul{margin-left: 15px;margin-bottom: 10px;}
.buildStyle .box ul li{list-style-type: disc;font-size: 14px;}
.buildStyle .box strong{font-size: 18px;font-family: 'Rubik Medium';}
.buildStyle .box p{margin: 0;}

.buildStyle h2{text-align: center;}
.buildElem{width: 100%;padding: 0;position: relative;perspective: 1000px;margin-bottom: 30px;}
.buildElem h3{font-family: 'Rubik Bold';font-size: 24px;margin: 10px 0;}
.buildElem .icon{color: #7C3AED;font-size: 40px;}
.buildElem  ul{margin-left: 15px;margin-bottom: 10px;}
.buildElem  ul li{list-style-type: disc;}
.buildElem  strong{font-size: 18px;font-family: 'Rubik Medium';} 
.buildElem .content{  position: relative;width: 100%;height: 100%;transition: transform .7s ease;transform-style: preserve-3d;}
.buildElem:hover .content {transform: rotateY(180deg);}
.buildElem:hover .flipBack .icon{color: #fff;}
.flipFront {height: 100%;position: relative;padding: 20px;background: #fff;}
.flipBack {    padding: 20px;position: absolute;inset: 0;backface-visibility: hidden;transform: rotateY(180deg);background: #4f46e5;color: #fff;box-shadow: 0 6px 20px rgba(0,0,0,0.1);}
.techStyle .buildElem{height: 500px;}
.techStyleOne .buildElem{height: 400px;}
/* .buildContainer{max-width: 100%;margin: 0 auto;display: flex;flex-wrap: wrap;margin-top: 10px;align-items: flex-start;}
.weBuild .buildElem{border-radius: 5px;display: flex;align-items: center;justify-content: center;flex-wrap: wrap;width: 50%;padding: 0 10px;margin-bottom: 20px;}
.weBuild .buildElem figure .icon{font-size: 100px;color: #7C3AED;}
.weBuild .buildElem .content{width: 100%;
        border-width: 2px 2px 5px 2px;
    border-color: #d8d8d8;
    border-style: solid;
    padding: 20px;color: #000;border-radius: 10px;position: relative;overflow: hidden;background: #fff;}
.buildContainer .buildElem .content *{position: relative;z-index: 9;}
.buildContainer .buildElem .content .icon{color: #7C3AED;font-size: 40px;}
.buildContainer .buildElem h3{font-family: 'Rubik Bold';font-size: 24px;}
.buildContainer .buildElem p{margin: 0;}
.buildContainer .buildElem  ul{margin-left: 15px;margin-bottom: 10px;}
.buildContainer .buildElem  ul li{list-style-type: disc;}
.buildContainer .buildElem  strong{font-size: 18px;font-family: 'Rubik Medium';} */
.thanksPage{position: relative;text-align: center;padding: 15px;height: 640px;display: flex;align-items: center;flex-direction: column;justify-content: center;
background: #f0f0f0;
}
.thanksPage h1{font-family: 'Rubik Bold';color: #7C3AED;}
.thanksPage a{color: #000;text-decoration: underline;}
.thanksPage p{font-size: 16px;}
.contactPage{margin-top: 74px;}
.hostingStyle .weBuild .box ul li{font-size: 16px;line-height: 26px;}


@media (max-width: 1600px){
.thanksPage{height: 500px;}
}

@media (max-width: 1400px){
  .heroBanner .content h1{    font-size: 24px;line-height: 60px;}  
  .heroBanner .content h1 span.highLight{font-size: 50px;}
  .heroBanner .content ul li{font-size: 16px;}
  .heroBanner .content{    justify-content: flex-start;}
  .heroBanner .detail{    margin-top: 100px;}
.queryForm{margin-top: 20px;}
.title{font-size: 40px;}
}

@media (max-width: 1199px){
.queryForm{padding: 0 30px;}
.queryForm .group input{max-width: 150PX;font-size: 14PX;}
.title{font-size: 32px;}
.aboutContent h6{font-size: 16px;}
.aboutContent ul li{line-height: 26px;}
.servicesBox .content h3{font-size: 18px;}
.projectBox .projectImg{min-height: 285px;}
.btnStyle{padding: 15px 20px;}
.inputFlex .group input, .inputFlex .group textarea{font-size: 16px;}
.commonPading{padding: 60px 0;}
.innerBanner{height: 300px;}
.contactSec .leftArea h2{margin-bottom: 30px;}
.innerBanner{margin-top: 71px;}
.contactPage{margin-top: 71px;}
.hostingStyle .weBuild .box ul li{font-size: 14px;line-height: 24px;}
}

@media (max-width: 992px){
.heroBanner{margin-top: 65px;}
.heroBanner img{    width: 100%;height: 100%;object-fit: cover;}
.projectBox h5{margin: 10px 0 0;}
.aboutContent{padding: 0;}
.aboutContent ul li{line-height: 24px;margin-bottom: 6px;}
.title{font-size: 28px;}
.innerBanner{margin-top: 65px;height: 230px;}
.formElem{width: 500px;max-width: 94%;}
.formElem .contactFomr .contactImg{display: none;}
.formElem .contactFomr .detail{width: 100%;}
.fomrStyle{margin: 0;}
.aboutSec figure{display: block;}
.whyUs figure img{height: 100%;object-fit: cover;}
.whyUs .aboutContent{padding: 40px 0 30px 0;}
.whyUs ul li h4{font-size: 18px;}
.whyUs h2{margin-bottom: 20px;}
.boxContainer h4{font-size: 30px;}
.boxContainer .boxElem{padding: 30px 20px;}
.boxContainer .boxElem .leftArea{width: 100%;padding: 0!important;}
.boxContainer .boxElem .rightArea{width: 100%;}
.boxContainer:nth-child(even) .boxElem .leftArea{order: 1;}    
.boxContainer:nth-child(even) .boxElem .rightArea{order: 2;}  
.areInfo{padding: 50px 0 0 0;}
.servicesDetail .innerBanner{position: relative;}
.servicesDetail .innerBanner:after{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #00000038;content: "";}
.servicesDetail .innerBanner .content{position: relative;z-index: 9;}
.servicesDetail .innerBanner{height: auto;padding: 40px 0;}
.innerBanner .content  h1{font-size: 40px;}
.innerBanner .content p{font-size: 14px;line-height: 24px;}
.buildElem h3{font-size: 22px;}
.contactPage{margin-top: 65px;}
 .heroBanner .detail{    margin-top: 50px;}
}

@media (max-width: 767px){
    .contactSec .leftArea::before{position: absolute;content: '';top: 0;width: 100%;height: 100%;right: -100%;background: #7C3AED;}
.boxContainer h4{font-size: 26px;margin-top: 30px;}   
.boxContainer h5{font-size: 22px;}
.boxContainer .boxElem{padding: 15px;margin-top: 15px;} 
.boxContainer .boxElem .techLogo h6{font-size: 14px;}
.whyUs ul li{margin-bottom: 15px;}    
.whyUs ul li h4{font-size: 16px;}
    .aboutContent ul, .aboutContent ol{margin: 0;}
.visionSec{padding: 40px 0}
.visionSec br{display: none;}
.whyUs figure{height: 280px;margin-top: 40px;}    
.whyUs .aboutContent{padding: 0 0 40px 0;margin: 20px 0 0 ;}
.heroBanner .content h1{padding: 0;}  
.heroBanner{height: 440px;}
.heroBanner .content h6{font-size: 14px;}
.heroBanner form{display: none;}
.aboutContent{margin-top: 0;}
.title{font-size: 30px;}
.innerBanner{height: 200px;}
.commonPading{padding: 50px 0;}
.heroBanner .btnStyle{display: block;}
.servicesBox .content p{    display: block;}
.servicesBox .content .spanICon{font-size: 20px;left: 15px;width: 45px;height: 45px;}
.contactPage{background: #f7f7f7;}
.areInfo{padding: 30px 0;}
.weBuild .box h3{font-size: 18px;margin: 5px 0 10px 0;}
.visionSec h4{font-size: 20px;}
.buildElem .content{height: 350px;}
.buildElem h3{font-size: 18px;}
.techStyle .buildElem{height: auto;}
.inputFlex{margin: 0;}
.inputFlex .group{padding: 0;}
.contactFomr h2{margin-bottom: 20px;}
.formElem .contactFomr h2{padding: 0;}
}

@media (max-width: 580px){
.boxContainer h4{font-size: 20px;margin-top: 30px;}   
.boxContainer h5{font-size: 18px;margin-bottom: 15px;}  
.heroBanner .content h1{font-size: 20px;}   
.heroBanner .content p span{display: inline-block;}
.inputFlex{flex-direction: column;}
.inputFlex .group{margin-bottom: 20px;}
.title{font-size: 24px;}
.boxContainer .boxElem .techLogo{width: 33%;}
.techStyle .buildElem .content{height: 400px;}
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}
