@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
a{text-decoration: none;}
ul, figure{margin: 0;padding: 0;}
li{list-style-type: none;}
.imgFull{width: auto;max-width: 100%;height: auto;}
h2{font-weight: 700;}
p{line-height: 26px;}
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}