@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
a{text-decoration: none;}
ul, figure, ol{margin: 0;padding: 0;}
li{list-style-type: none;}
.imgFull{width: auto;max-width: 100%;height: auto;}
h2{font-weight: 700;}
p{line-height: 26px;}
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
.menuToggle, .closeBtn, .subToggle{display: none;}
.boxHeight .col-md-4{display: flex;}


@media (max-width: 1199px){
body{font-size: 14px;}
p{line-height: 24px;}
}

@media (max-width: 992px){
.menuToggle{display: block;background: transparent;padding: 0;color: #000;font-size: 30px;margin: 10px 0;}
.closeBtn{display: block;}
header .mainMenu{background: #7C3AED;position: fixed;top: 0;right: -100%;width: 300px;height: 100%;padding-top: 30px;overflow: auto;}
header .mainMenu.activeMenu{right: 0;}
header .mainMenu ul{flex-direction: column;height: 100%;}
header .mainMenu ul li{position: relative;}
header .mainMenu ul li a{color: #fff;padding: 10px 15px;width: 100%;border-bottom: 1px dotted #fff;}
header .mainMenu ul ul{display: none;}
.mainMenu .closeBtn{margin: 0;padding: 0;top: 10px;right: 10px;position: absolute;background: #000;color: #fff;width: 30px;height: 30px;display: flex;align-items: center;justify-content: center;border-radius: 50%;}
.mainMenu ul li a .icon{display: none;}
.mainMenu ul li .subToggle{        position: absolute;top: 0;right: 0;margin: 0;padding: 0;padding: 8px 10px;background: #6217e3;color: #fff;border-radius: 0;z-index: 9;display: block;}
.mainMenu ul ul:after, .mainMenu ul ul:before{content: none!important;}        
header .mainMenu ul li .subMenuMob {background: #854ce7;position: relative;top: 0!important;flex-direction: column;        padding: 0 0;display: none!important;border: none;}
header .mainMenu ul li .subMenuMob.open{display: flex!important;}
header .mainMenu ul li .subMenuMob li{width: 100%;margin: 0;}
header .mainMenu ul li .subMenuMob li a{        padding: 10px 30px;}
.servicesView .col-md-4{width: 50%;}
.aboutCls .col-md-6{width: 100%;}
.aboutCls figure{margin-bottom: 30px;display: block;}
.popStyle .container{max-width: 100%;}
.boxHeight .col-md-4{width: 50%;}
.servicesCol .col-md-5, .servicesCol .col-md-7{width: 100%}
.servicesCol .col-md-5{margin-bottom: 30px;}
}

/* FULLSCREEN LOADER */
.loader-wrapper {
  position: fixed;
  inset: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.loader-wrapper div{width: 300px;height: 70px;display: flex;
    justify-content: center;position: relative;}
/* Stack both images on top of each other (so icon hides cleanly) */
.loader-wrapper img {
  position: absolute;
}

@media (max-width: 767px){
.servicesView .col-md-4{width: 100%;}
.boxHeight .col-md-4 {width: 100%;}
}
.error-text {
  color: #ff4d4d;
  font-size: 14px;
  margin-top: 4px;
}

/* ICON ANIMATION */
.loader-icon {
  width: 80px;
  animation: moveIcon 2.5s ease-in-out forwards;
  transition: opacity 0.4s ease;transition: all 0.2s linear;
  left: 120px;
}

@keyframes moveIcon {
  0%   { transform: translate(0, 0) scale(1); }
  25%  { transform: translate(0) scale(1) rotate(180deg); }
  50%  { transform: translate(0) scale(0.5); }
  75%  { transform: translate(0) scale(1) rotate(180deg); }
  100% { transform: translate(0, 0) scale(1); }
}

/* ICON HIDES COMPLETELY */
.hide-icon {
  opacity: 1 !important;
  width: 30px;
  left: 10px;
}

/* LOGO FADE IN */
.loader-logo {
  width: 260px;
  transition: opacity 0.5s ease;
  opacity: 0;
}

