@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
a{text-decoration: none;}
ul, figure, ol{margin: 0;padding: 0;}
li{list-style-type: none;}
.imgFull{width: auto;max-width: 100%;height: auto;}
h2{font-weight: 700;}
p{line-height: 26px;}
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
.menuToggle, .closeBtn, .subToggle{display: none;}
@media (max-width: 1199px){
body{font-size: 14px;}
p{line-height: 24px;}
}

@media (max-width: 992px){
.menuToggle{display: block;background: transparent;padding: 0;color: #000;font-size: 30px;}
.closeBtn{display: block;}
header .mainMenu{background: #7C3AED;position: fixed;top: 0;right: -100%;width: 300px;height: 100%;padding-top: 30px;}
header .mainMenu.activeMenu{right: 0;}
header .mainMenu ul{flex-direction: column;height: 100%;}
header .mainMenu ul li{position: relative;}
header .mainMenu ul li a{color: #fff;padding: 10px 15px;width: 100%;}
header .mainMenu ul ul{display: none;}
.mainMenu .closeBtn{margin: 0;padding: 0;top: 10px;right: 10px;position: absolute;background: #000;color: #fff;width: 30px;height: 30px;display: flex;align-items: center;justify-content: center;border-radius: 50%;}
.mainMenu ul li a .icon{display: none;}
.mainMenu ul li .subToggle{        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        padding: 8px 10px;
        background: #6217e3;
        color: #fff;
        border-radius: 0;z-index: 9;display: block;}
.mainMenu ul ul:after, .mainMenu ul ul:before{content: none!important;}        
header .mainMenu ul li .subMenuMob {background: transparent;position: relative;top: 0!important;flex-direction: column;        padding: 0 10px;display: none!important;border: none;}
header .mainMenu ul li .subMenuMob.open{display: flex!important;}
header .mainMenu ul li .subMenuMob li{width: 100%;margin: 0;}
.servicesView .col-md-4{width: 50%;}
}


@media (max-width: 767px){
.servicesView .col-md-4{width: 100%;}
}
.error-text {
  color: #ff4d4d;
  font-size: 14px;
  margin-top: 4px;
}